@page
@model MyRestaurant.Web.Pages.Index1Model
@{
}
<hr/>
	<h1> Specialities | Vegetarian </h1>
	<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/images/noodles.jpg">
        <img src="~/images/Thali.webp" alt="Lights" style="width:100%">
       <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f6.jpg">
        <img src="~/images/SouthIndian.jpg" alt="Nature" style="width:100%">
         <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
   <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f8.jpg">
        <img src="~/images/vegimg.jpg" alt="Nature" style="width:100%">
        <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
  <hr/>
  
  
  
</div>
<hr/>
<h1> Specialities | Non-Vegetarian </h1>
	<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f14.jpg">
        <img src="~/images/nonveg1img.jpg" alt="Lights" style="width:100%">
         <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f16.jpg">
        <img src="~/images/nonveg2f.jpg" alt="Nature" style="width:100%">
         <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
   <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f15.png">
        <img src="~/images/nonveg3f.jpg" alt="Nature" style="width:100%">
         <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
  <hr/>
 
</div>
<hr/>
<h1> Specialities | Dessert </h1>
	<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f23.jpg">
        <img src="~/images/dess1.jpg" alt="Lights" style="width:100%">
         <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f24.jpg">
        <img src="~/images/dess2.jpg" alt="Nature" style="width:100%">
        <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
   <div class="col-md-4">
    <div class="thumbnail">
      <a href="~/Images/f25.jpg">
        <img src="~/images/dess3.jpg" alt="Nature" style="width:100%">
         <div class="link-to-book-wrapper">
			<a class="link-to-book" class="btn btn-primary" asp-area="Restaurant" asp-controller="Orders" asp-action="Create">Add to Orders</a>
		</div>
      </a>
    </div>
  </div>
  <hr/>

</div>
<hr/>